# Database Setup
DATABASE_URL=sqlite:///./college_admission.db

# IBM watsonx Configuration
WATSONX_API_KEY=NGEdRpUkYzfWdJOIo2zEOdDKqcizei-3u7cHBnBIElBY
WATSONX_PROJECT_ID=eeb517c9-c6cb-4e9a-a87e-2fa70f13c920
WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_MODEL_ID=ibm/granite-3-8b-instruct

# RAG & Embeddings
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2
VECTORSTORE_PATH=../vectorstore/faiss_index
KNOWLEDGE_BASE_DIR=../knowledge_base
